body {
  background-color: white;
}
body {
  background-color: DeepSkyBlue;
  font-family: "Helvetica", sans-serif;
  color: Pink;
}
h1 {
  color: White;
  font-family: "Times New Roman", serif;
}
h2 {
  font-family: "Times New Roman", serif;
}
h3 {
  font-family: "Brush Script MT", serif;
  font-style: italic;
}
a {
  color: PaleTurquoise;
}
nav ul {
  background-color: tomato;
  border-style: solid;
  border-color: MediumVioletRed;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}
nav ul li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  color: PapayaWhip;
}
nav ul li a {
  text-decoration: none;
  color: Brown;
}
img {
  border-radius: 30px;
}
 .smallPics {
         height: 60px;
         border-radius: 10px;
     }
     .card {
         width: 200px;
         height: 200px;
         border: 2px solid #F0FFFF;
         border-radius: 10px;
         box-sizing: border-box;
         margin-top: 10px;
         font-family: "Lato", sans-serif;
     }
     .card:hover {
         border-color: #1E90FF;
     }
h3 {
         font-family: "League Gothic", sans-serif;
         font-style: normal;
         font-weight: 400;
     }
.cardLink {
         color: inherit;
         text-decoration: none;
     }
.cardContainer {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         padding: 10px;
     }
nav ul {
         padding: 0.5em;
         display: flex;
         flex-direction: column;
     }
     nav ul li {
         text-align: center; 
         list-style-type: none;
         margin-right: 0.5em;
         margin-left: 0.5em;
     }
@media all and (min-width: 600px) {
         nav ul {
             flex-direction: row;
             justify-content: space-around;
         }
     }










/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border: 1px solid HoneyDew;
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
